/*fonts*/
p, span{
	font-family: 'Roboto', sans-serif;
}

#header, #searchBar, #mainContent{
  margin-bottom: 10px;
}
#sideSection{
  padding: 0px 4px;
}
.googleMapsCard{
  margin-bottom: 5px;
}
#mainContentCard{
  width: 100%;
}
#map{
  height: 350px;
}

#bioImg{
  width: 100%;
}

#results{
  padding: 5px 0px;
  width: 100%;
}

#containProfiles{
  padding: 0px;
}

#profiles{
  padding:0px;
}

#prof .card-body{
  padding: 2px 0px;
}

p{
  margin: 3px;
}

.jumbotron {
	background: url("../images/networking.jpg");
	border-bottom: 5px solid white;
	padding: 32px;
	color: white;
	font-family: 'Share Tech Mono', monospace;

}

.card-header{
  background-color:#68a2ff ;
  border: none;
  font-weight
}

.card-body{
  background-color:#d2def2 ;
  font-weight:;
  border:none;
}
body {
	background: url("../images/background.jpg");
	background-size: 100% 100%;
}
