
body {
  background: url("../images/background.jpg");
  background-size: 100% 100%;
}
#everything{
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
}
.jumbotron {
  background: url("../images/networking.jpg");
  border-bottom: 5px solid white;
  padding: 32px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}
#p-search, #p-results, #p-add-expert{
  font-weight: 700;
  font-size: 28px;
}
#p-profiles, #p-maps, #p-jobs{
  font-weight: 600;
  font-size: 25px;
}
#tradeSearch{
  width: 50%;
}
p, span{/*fonts*/
  font-family: 'Roboto', sans-serif;
}
#header, #searchBar, #mainContent, #expertInput{
  margin-bottom: 10px;
}
#sideSection{
}
#mainContentCard{
  width: 100%;
}
#map{
  height: 350px;
  border: 1px solid white;
}
#each-profile {
  border: 1px solid white;
  border-radius: 3px;
  padding: 0px !important;
  margin: 3px;
  width: 100%:
}
#image-section{
  padding: 0px;
  width: 35%;
}
#profile-image{
  max-width: 250px;
  max-height: 220px;
  min-width: 200px;
  min-height: 180px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin: 1px;
  float:left;
}
#profile-description{
  margin: 2px 1px;
  width: 55%;
  float:left;
}
#profiles{
  padding: 0px;
}
#containProfiles{
  padding: 0px;
}
p{
  margin: 3px;
}
.card-header{
  background-color:#68a2ff ;
  border: none;
  display: inline-block;
}
.card-body{
  background-color:#d2def2 ;
  font-weight:;
  border:none;
}
#label-select{
  width: 30%;
}
#label-text-input{
  width: 30%;
  float: left;
}
#trade-select{
  width: 50%;
  height: 30px;
  max-width: 400px;
}
.text-input{
  height: 30px;
  width: 50%;
  border: 1px solid #7f7f7f;
  margin-left: 2px; 
}
#back-to-home{
  float:right;
}
#searchBtn, #makeProfile, #addProfile{
  width: 30%;
  min-width: 170px;
}
#go-home{
  width: 150px;
}
#go-home-btn{
  width: 100%; /* 150px */
}
#profile-header, #maps-header, #jobs-header{
  padding: 0px;
}
#jobs{
  min-height: 400px;
  border: 1px solid white;
}
.profInfo {
  margin: auto 0;
}
#footer{
  border-radius: 0px;
  border-top: 1px solid #b2b2b2;
}
#p-footer{
  font-weight: 500;
  font-size: 20px;
}
